.aside-description {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  max-height: 600px;
  text-align: left;
  width: 100%;

  .aside-description__body-info {
    display: flex;
    flex-direction: column;
    gap: var(--small);

    .aside-description__title {
      font-weight: 700;
    }

    .aside-description__second-title {
      font-weight: 700;
    }

    .aside-description__tags {
      display: flex;
      font-size: 18px;
      gap: 18px;
    }
  }

  .aside-description__button {
    background-color: var(--borderOpacity01);
    border: none;
    border-radius: 4px;
    color: var(--text);
    height: 40px;
    justify-self: right;
    width: 120px;
    &:hover{
      background-color: var(--hover);
    }
  }
}

// @media screen and (max-width: 768px) {
//   .aside-description {
//     display: none;
//   }
// }
