.about {
  display: grid;
  margin: 36px 0;
  padding: 0 var(--medium)
}

.h1 {
  font-size: 56px;
  font-weight: 500;
  padding: var(--medium);
  padding-bottom: 0;
}


@media screen and (min-width:1024px) {
  .about {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    max-width: 1660px;
    margin-top: auto;
    margin-left: var(--medium);
    margin-right: var(--medium);
    padding-top: 24px;
  }

  .h1 {
    display: none;
  }

}
