.bio {
  display: flex;
  flex-direction: column;
  gap: 45px;
  text-align: justify;

  .biography-section {
    display: grid;
    gap: 18px;

    h2 {
      font-size: var(--font-size-36);
      text-align: center;
    }

    ul {
      padding-left: 1rem;
    }
  }
  .certificates {
    width: 100%;

    h1 {
      margin-bottom: 32px;
      text-align: center;
    }

    .certificates-list {
      list-style: none;
      margin-bottom: 45px;

      .list-link {
        align-items: center;
        display: flex;
        gap: 12px;
      }
      .list-link:hover{
        color: var(--hover);
      }
    }
  }
}

@media screen and (min-width:1024px) {
  .bio {
    border-left: 1px solid var(--borderOpacity01);
    border-right: 1px solid var(--borderOpacity01);
    padding: 0 var(--medium);
  }
}
