.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-row: 1;
  width: 100%;

  img {
    object-fit: cover;
    margin: 38px 0;
    border-radius: 200px;
  }

  h2 {
    text-align: center;
    width: 100%;
  }

}

@media screen and (min-width:425px) {
  .profile {
    h2 {
      width: 80%;
    }
  }
}

@media screen and (min-width:768px) {
  .profile {
    h2 {
      width: 60%;
    }
  }
}

@media screen and (min-width:1024px) {
  .profile {
    grid-column-start: 3;

    h2 {
      width: 100%;
    }

    img {
      margin: 0 0 38px 0;
    }
  }
}
