.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: calc(100vh - 180px);
  justify-content: center;
  text-align: center;

  .title {
    font-size: 32px;
    font-weight: 700;
  }

  .message {
    color: var(--textOpacity06);
    font-size: 16px;
  }
}
