.details {

  .img-carrousel {
    background: radial-gradient(ellipse at top, var(--background),
        transparent),
      radial-gradient(ellipse at bottom, var(--primary),
        transparent);
    display: grid;
    height: auto;
    margin-top: 24px;
    overflow: hidden;
    place-items: center;
    position: relative;
    width: 100vw;

    img {
      object-fit: cover;
      max-width: 100%;
    }
  }

}
.aside-description {
  display: flex;
}

.go-back {
  font-size: var(--medium);
  padding: 20px;
  position: absolute;
  top: 0px;
}

@media screen and (min-width:768px) {
  .go-back {
    font-size: var(--medium);
    padding: 32px;
    position: absolute;
    top: 0px;
  }

  .details {

    display: grid;
    grid-template-columns: 45% auto;
    height: calc(100vh - 160px);
    padding: 24px var(--medium);


  }
}
