.details {

  .img-carrousel {
    background: radial-gradient(ellipse at top, var(--background),
        transparent),
      radial-gradient(ellipse at bottom, var(--primary),
        transparent);
    display: grid;
    height: 475px;
    margin-top: 24px;
    overflow: hidden;
    place-items: center;
    position: relative;
    width: 100vw;

    img {
      object-fit: cover;
      max-width: 100%;
    }

    .buttons {
      background-color: var(--primary);
      bottom: 0;
      display: flex;
      position: absolute;
      right: 0;
      width: 60px;

      .button-top {
        border: none;
        opacity: 0.6;
        height: 40px;
        right: 42%;
        top: 0;
        width: 80px;
      }

      .button-bottom {
        border: none;
        bottom: 0;
        opacity: 0.6;
        height: 42px;
        right: 40%;
        width: 80px;
      }
    }
  }

  .details-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0 0 48px;

    .deploy {
      align-items: center;
      background: radial-gradient(ellipse at top, var(--background),
          transparent),
        radial-gradient(ellipse at bottom, var(--primary),
          transparent);
      border-radius: 8px;
      display: flex;
      font-size: large;
      font-weight: 400;
      height: 45px;
      justify-content: center;
      width: 145px;
    }

    .deploy:hover {
      background: radial-gradient(ellipse at top, var(--primary),
          transparent),
        radial-gradient(ellipse at bottom, var(--background),
          transparent);
      color: var(--hover);
      font-size: large;
    }
  }
}

.go-back {
  font-size: var(--medium);
  padding: 20px;
  position: absolute;
  top: 0px;
}

@media screen and (min-width:768px) {
  .go-back {
    font-size: var(--medium);
    padding: 32px;
    position: absolute;
    top: 0px;
  }

  .details {

    display: grid;
    grid-template-columns: 45% auto;
    height: calc(100vh - 160px);
    padding: 24px var(--medium);

    .img-carrousel {
      height: 360px;
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .info_tech {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    padding-bottom: 45px;
    padding: 0 var(--medium);

    .tech-item {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .tech-item__trackBar {
        background-color: var(--primary);
        border-radius: 5px;
        display: flex;
        height: 7px;
        opacity: 0.8;
        width: 100%;

        span {
          background-color: var(--text);
          border-radius: 5px 0px 0px 5px;
          width: 80%;
        }

        .trackBar__Javascript {
          width: 60%;
        }

        .trackBar__Typescript {
          width: 35%;
        }

        .trackBar__htmlCss {
          width: 80%;
        }
      }
    }
  }
}
