@use '@material/image-list/mdc-image-list';

.container {
  margin-top: 16px;

  select {
    background: var(--secondary);
    border: solid 2px var(--secondary);
    border-radius: 12px;
    box-sizing: border-box;
    color: var(--text);
    height: 32px;
    margin: 0 var(--medium);
    padding: 4px;
  }

  .portfolio {
    display: flex;
    flex-direction: column;

    ul {
      list-style: none;

      .gallery-item {
        position: relative;

        img {
          margin: var(--small) 0;
          object-fit: contain;
          height: 100%;
          width: 100%;
        }

        .gallery-active {
          background-color: var(--secondary);
          height: 100%;
          min-height: 300px;
          position: absolute;
          opacity: 0.9;
          overflow: hidden;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 2;
        }

        .gallery-unactive {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width:768px) {

  .container {
    display: grid;
    place-items: center;
    text-align: center;

    .filter-inputs {
      display: flex;
      max-width: 1400px;
      width: 100%;

      select {
        justify-self: baseline;
      }
    }

    .portfolio {
      box-sizing: border-box;
      display: grid;
      gap: 46px;
      // grid-template-columns: 300px auto;
      height: 500px;
      margin: var(--large) auto;
      max-width: 1600px;
      width: calc(100vw - 96px);

      .description {
        box-sizing: border-box;
        min-width: 220px;
        padding: 1rem 0 0 1rem;
        width: auto;
      }

      .gallery {
        height: calc(100vh - 162px);
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        position: relative;

        ul {
          box-sizing: border-box;
          column-count: 2;
          column-gap: 16px;
          padding: 0 0.5rem;
          width: 100%;


          .gallery-item {
            cursor: pointer;
            margin-bottom: 16px;
            flex: none;

            .gallery-content {
              height: fit-content;
              vertical-align: bottom;
              width: 100%;
            }

            .gallery-content:hover {
              opacity: 0.75;
              transform: scale(1.015, 1.01);
            }
          }
        }
      }
    }
  }
}

.gallery::-webkit-scrollbar {
  width: 0.45rem;
}

.gallery::-webkit-scrollbar-thumb {
  background-color: var(--textOpacity06);
  border-radius: 25px;
}

.gallery::-webkit-scrollbar-track {
  background-color: var(--primary);
  border-radius: 25px;
}

@media screen and (min-width:1024px) {
  .container {
    max-width: 1660px;
    margin: auto;
    padding: 0 var(--medium);

    .portfolio {
      grid-template-columns: 300px auto;

      .gallery {
        max-height: 1000px;

        ul {
          column-count: 3;
        }
      }

    }
  }
}

@media only screen and (hover: none) and (pointer: coarse) {

  /* Regular CSS rules here*/

}
